.auth-btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #646cff;
    color: white;
    cursor: pointer;
    transition: background-color 0.25s, border-color 0.25s, color 0.25s;
  }
  
  .auth-btn:hover {
    background-color: #535bf2;
    border-color: #fff;
  }
  
  .auth-btn:focus,
  .auth-btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }