.calendar-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.calendar-heading {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.home_button{
    display: flex;
    justify-content: center;
    background-color: #ebefef;
    border-radius: 0.0rem;
    font-weight: 400;
    font-size: 30px;
    padding: 2rem;
    gap: 1rem;
  }
  
  .homepage_btn{
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: monospace;
    font-weight: 500;
    background-color: #9fd5ee;
    
  }
  
  .homepage_btn:hover{
    background-color: #38c5c5;
  }

  #returnHomePageButton {
    justify-content: left;
    background-color: #38c5c5;
  }
