.action-btn{
    margin: 0 auto;
    display: inline;
}

.returnHomePageButton {
    background-color: rgba(37, 136, 151, 0.906);
    color: white;
    margin-right: 45px;
}

.returnHomePageButton:hover{
    background-color: #535bf2;
    border-color: #fff;
}

.next-button{
    margin-left: 45px;
}