.web-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-btn{
    margin: 0 auto;
    display: inline;
}

.back-button{
    margin-right: 45px;
}

.next-button{
    margin-left: 45px;
}